/* Full-width inputs */

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 13px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid black;
  box-sizing: border-box;
}

/*button*/
button {
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;


}

/* hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Add padding to containers */
.container {
  padding: 16px;
  width: 40%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  

}



