<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!-- Team -->
<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">ADMINISTRATIVE</h5>
        <div class='container'>
                
                        <div class="profile">
                            <img src="../assets/images/CG logo.png" > 
                       <div class="card-title">CG AIRLINE<br /> 
                       <div class="card-subtitle" >
                       <p > CG Airlines launched in 2003, it is Indian – based airline that has rapidly grown in the past five years. High service standards and the exceptional commitment of its employees have resulted in a consistent increase in the customer airline over the past years.  </p>
                       </div>
                       </div>
                       </div>

             </div> 
        <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <!--<div class="card">
                                <div class="card-body text-center">-->
                                    <div><h4 class="card-title">Show Flight List</h4>
                                    
                                </div>
                            <!--</div>-->
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p class="card-text">Improving passenger experience, passenger flow and subsequently Service operations efficiency.Our member airlines include many of the world’s 
                                        top aviation companies as well as smaller, more regional carriers.
                                    </p>
                                    <button type="button" class="btn btn-dark" class="btn btn-secondary btn-lg" (click)="ShowFlights()">SHOW</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <!--<div class="card">
                                <div class="card-body text-center">-->
                                    <div><h4 class="card-title">Add New Flight</h4>
                                   
                                </div>
                            <!--</div>-->
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p class="card-text">CG Airline is the only Indian airline to operate multiple and the largest number of nonstop flights to different global destinations from India.
                                        CG Airline offers a comfortable flying experience with its warmth and hospitality.
                                    </p>
                                    <button type="button" class="btn btn-dark" class="btn btn-secondary btn-lg" (click)="AddFlights()">ADD</button>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <!--<div class="card">
                                <div class="card-body text-center">-->
                                    <div>
                                        <h4 class="card-title">Revenue Analysis</h4>
                                    </div>
                                                                      
                                
                            <!--</div>-->
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <p class="card-text">Technology and other innovative ideas will be presented to harness all the resources necessary to be as efficient and cost effective as possible.
                                        The advent of Big Data for the Airline industry is coming at exactly the right time
                                    </p>
                                        <button type="button" class="btn btn-dark" class="btn btn-secondary btn-lg" (click)="Report()">ANALYSE</button>

                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ./Team member -->

        </div>
    </div>
</section>
<!-- Team -->





