/* 
img.OARS{
    width: 80px;
    height: 50px;
    
  }

  #navbarNav ul li{
    margin-left: 2rem;
  }
  
  .container {
    padding: 16px;
    width: 100%;
    font-size: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} */

.container
{
    padding: 16px;
    width: 100%;
    font-size: 40px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}